<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <main class="container-fluid">
        <div class="row-justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Finished Tasks</h1>
                <table class="table table-hovered text-center">
                    <thead>
                        <tr>
                            <th scope="col">Tasks</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr th:each="task: ${tasks}"></tr>
                        <td th:text="${task.task}"></td>
                        <td th:text="${task.id}"></td> -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+RpChtlDoVsUH6m0abTfIVaHj8LJE" crossorigin="anonymous"></script>
</body>
</html>